/* finca.component.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"], button {
  padding: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 15px;
}

button:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #6c757d;
}

button[type="button"]:hover {
  background-color: #5a6268;

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #04090f;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones button {
  margin-right: 10px; /* Ajusta este valor según el espacio que desees entre los botones */
}



label {
  font-weight: bold;
}
