<!-- header.component.html -->
<header class="site-header">
    <div class="brand-container">
      <h1>ARRIENDA TU FINCA</h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="#">MODA</a></li>
        <li><a routerLink="/" class="menu-item">Inicio</a>
        <li><a href="#">BELLEZA</a></li>
        <li><a href="#">ESTILO DE VIDA</a></li>
        <!-- Agrega más elementos de lista según sea necesario -->
      </ul>
    </nav>
    <div class="image-container">
      <!-- Las imágenes aquí se pueden agregar como elementos de fondo en CSS o como elementos img en HTML -->
    </div>
  </header>
  