<div class="form-container"> <!-- Agrega esta clase para aplicar los estilos del contenedor -->
  <div class="form-group">
    <label for="idInput">ID del arrendador:</label>
    <input type="text" id="idInput"> <!-- Corregido el atributo id -->
  </div>

  <div class="form-group">
    <label for="nombreInput">Nombre:</label>
    <input type="text" id="nombreInput"> <!-- Corregido el atributo id -->
  </div>

  <div class="form-group">
    <label for="apellidoInput">Apellido:</label>
    <input type="text" id="apellidoInput"> <!-- Corregido el atributo id -->
  </div>

  <div class="form-group">
    <label for="correoInput">Correo:</label>
    <input type="email" id="correoInput"> <!-- Corregido el atributo id -->
  </div>

  <button type="submit" onclick="handleClick(idInput.value, nombreInput.value, apellidoInput.value, correoInput.value)">Actualizar</button>
</div>
