<div class="container">
    <h1>Gestión de Solicitudes</h1>
  
    <!-- Lista de solicitudes -->
    <h2>Lista de Solicitudes</h2>
    <ul>
      <li *ngFor="let solicitud of solicitudes">
        ID: {{ solicitud.idSolicitud }} - Estado: {{ solicitud.estado }} - Fecha: {{ solicitud.fecha }}
        <div>
          <div>
            <button (click)="pagarSolicitud(solicitud)">Pagar</button>
          </div>

          <div>
            <button (click)="comentarSolicitud(solicitud)">Comentar</button>
          </div>

        </div>
      </li>
    </ul>
  </div>
  