<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrendadores</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/fincas">Ver Fincas</a></li>
                <li><a routerLink="/list-arrendador">Ver lista de Arrendadores</a></li>
                <li><a routerLink="/actualizar-arrendador/:id">Actualizar Arrendador</a></li>
                <li><a routerLink="/insertar-arrendador">Insertar Arrendador</a></li>
                <li><a routerLink="/insertar-arrendador">Eliminar Arrendador</a></li>
            </ul>
        </nav>

        <!-- RouterOutlet es donde se renderizarán los componentes de las rutas -->
        <router-outlet></router-outlet>
        
        
        
        
    </div>
</body>
</html>
