<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrendadores</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <h1>Lista de Arrendadores</h1>
            <app-list-arrendador></app-list-arrendador>
        </div>
        <div class="section">
            <h1>Actualizar Arrendador</h1>
            <app-actualizar-arrendador></app-actualizar-arrendador>
        </div>
    </div>
</body>
</html>