<div class="container">
  <h1>Gestión de Fincas</h1>
  <!-- Lista de fincas -->
  <h2>Lista de Fincas</h2>
  <ul>
    <li *ngFor="let finca of fincas; let i = index">
      <img [src]="getImageForFinca(i)" [alt]="finca.nombre" class="imagen_finca">
      <div>
        <h3>{{ finca.nombre }}</h3>
        <p>{{ finca.descripcion }}</p>
        <p>Precio: {{ finca.precio | currency }}</p>
        <p>Ubicación: {{ finca.municipio }}</p>
        <ng-container *ngIf="userType === 'Arrendatario'; else arrendadorOptions">
          <button (click)="solicitarFinca(finca)">Solicitar Finca</button>
          <button (click)="verComentarios(finca)">Comentarios</button>
        </ng-container>
        <ng-template #arrendadorOptions>
          <button (click)="editFinca(finca)">Editar</button>
          <button (click)="deleteFinca(finca.id_finca)">Eliminar</button>
        </ng-template>
      </div>
    </li>
  </ul>
</div>
