<section class="container">
  <div class="image-section">
    <div class="image-wrapper">
      <img src="../../../assets/mesh-gradient.png" alt="Imagen decorativa">
    </div>
    <div class="content-container">
      <h1 class="section-heading">Mas y mejores Fincas</h1>
      <p class="section-paragraph">Cada paso más adelante.</p>
    </div>
  </div>

  <div class="form-section">
    <div class="form-wrapper" *ngIf="showLoginForm; else registerTemplate">
      <div class="logo-container">
        <a href="#" class="logo-container">
          <img src="../../../assets/logo.png" alt="Logo">
        </a>
      </div>

      <h2>Bienvenido de vuelta! 👋🏻</h2>
      <p>Ingresa tus credenciales.</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-container">
          <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" formControlName="correo" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" formControlName="contrasena">
          </div>
        </div>

        <div class="remember-forgot">
          <div class="remember-me">
            <input type="checkbox" id="remember-me" formControlName="rememberMe">
            <label for="remember-me">Recuérdame</label>
          </div>
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Ingresar</button>
        <button type="button" class="register-btn" (click)="toggleForms()">Registrarse</button>
      </form>
    </div>

    <ng-template #registerTemplate>
      <div class="form-wrapper">
        <h2>Crear Cuenta</h2>
        <p>Completa tus datos.</p>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="input-container">
            <div class="form-group">
              <label for="nombre">Nombres *</label>
              <input type="text" id="nombre" formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="apellido">Apellidos *</label>
              <input type="text" id="apellido" formControlName="apellido" required>
            </div>
            <div class="form-group">
              <label for="correo">Correo electrónico *</label>
              <input type="email" id="correo" formControlName="correo" required>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" id="telefono" formControlName="telefono" pattern="[0-9]+" title="Por favor, ingrese solo números">
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña *</label>
              <input type="password" id="contrasena" formControlName="contrasena" required minlength="8"> <!-- Cambiar 'password' a 'contrasena' -->
            </div>
            <div class="form-group">
              <label for="userType">Tipo de usuario:</label>
              <div id="userType">
                <input type="radio" id="arrendador" formControlName="userType" value="arrendador" required>
                <label for="arrendador">Arrendador</label>
                <input type="radio" id="arrendatario" formControlName="userType" value="arrendatario" required>
                <label for="arrendatario">Arrendatario</label>
              </div>
            </div>
          </div>
          <button type="submit" class="login-btn" [disabled]="registerForm.invalid">Registrar</button>
        </form>        
        <button type="button" class="register-btn" (click)="toggleForms()">Volver a Login</button>
      </div>
    </ng-template>
  </div>
</section>
