<div class="container">
    <h1>Pago de solicitud</h1>
  
    <!-- Formulario para agregar o editar pagos -->
    <form (ngSubmit)="savePago()">
      <input type="hidden" [(ngModel)]="pago.id_pago" name="id_pago">
      <div>
        <label for="banco">Banco:</label>
        <input type="text" id="banco" [(ngModel)]="pago.banco" name="banco" required>
      </div>
      <div>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" [(ngModel)]="pago.fecha" name="fecha">
      </div>
      <div>
        <label for="numero_cuenta">Numero de cuenta:</label>
        <input type="text" id="numero_cuenta" [(ngModel)]="pago.numeroCuenta" name="numero_cuenta">
      </div>

      <button type="submit">Guardar</button>
      <button type="button" (click)="resetPago()">Cancelar</button>
    </form>
  </div>
  